* {
    box-sizing: border-box;
}

section {
    display: grid;
    /* fill as many cols as possible, minimum width 200px and max use 1 fraction */
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    
    grid-template-columns: 1fr 2fr 0.5fr;
    gap: 1vh;
    /* Ojo: I've left the **implicit** grid-template-rows do the work, I've not set them explicitly */
    
    /* auto rows are minimum 50px and max auto (the necessary height to accomodate the content) */
    /* grid-auto-rows: minmax(50px, auto); */
}

article {
    background-color: red;
    padding: 5px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: row;
    transform: rotate(-1deg);
}

.article-title {
    /* margin: 5px; */
    /* padding-right: 1vw; */
    background-color: lightsalmon;
    margin-right: 0.7vh;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1vw;
    transform: rotate(-2deg);
    transition: transform 0.5s;
}

p {
    background-color: orange;
    text-align: left;
    padding: 3vw;
    height: 100%;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    transform: rotate(1.3deg);
    transition: transform 0.25s;
}

p:hover {
    transform: rotate(-1deg);
}

.article-title:hover {
    transform: rotate(182deg);
}

.one {
    grid-column: 1 / 4;
}

.two {
    grid-column: 2 / 4;
}

.three {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.five {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
}

.six {
    grid-column: 1 / 3;
    grid-row: 4 / 6;
}

@media(min-width: 900px){
    h2 {
        font-size: 1.7rem;
    }
    p {
        font-size: 1.2rem;
    }
}

@media(max-width: 500px){
    h2 {
        margin-left: 0;
        margin-right: 0;
    }

    .article-title{
        writing-mode: vertical-lr;
        height: auto;
    }

}

@media(max-width: 400px){
    h2 {
        font-size: 1.4rem;
    }
    section {
        display: flex;
        flex-direction: column;
    }

}